*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    background:black ;
}
.game{
    width: 700px;
    height:200px;
    border: 5px solid white;
    margin: auto;
    background: lightpink;
}
#character{
    width: 20px;
    height: 50px;
    background: lightpink;
    /* background-image:url("Character3.jpg"); */
    position: relative;
    top: 150px;
    border-radius: 10px;
    overflow:hidden;
}
#character img{
    height: 50px;
    background: lightpink;
    overflow: hidden;
    position: absolute;
    left: -15px;
    top: 10px;
}
.animate{
    animation: jump 300ms linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-image:url("enemy.jpg");
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 700px;}
    100%{left: -20px;}
    }
span{
    text-align:center;
    color: red;
}
p{
    color: yellow;
}
